---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      Hi, I'm Lucas, a student software engineer from South Carolina.
      <br />
      My primary tools of choice includes:
      <ul class="list-disc list-inside">
        <li>JavaScript</li>
        <li>React</li>
        <li>Solidjs</li>
        <li>Astro</li>
        <li>svelte</li>
        <li>Nodejs</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      Beyond programming, I'm passionate about Virtual Reality, whether it be hardware, software, or even bloatware.
      I'm a big fan of 3D Printing, as well as Resin Printing and Laser Cutting. 3D Design in general is something I am a fan of. 
      I just recently switched to MacOS. Wish me luck! - Lifelong Windows User 
    </p>
    <p class="text-sm font-light">
      While I have some preferred tools, I always choose the best one for the
      job, even if it's not on my usual list. My goal is to find the right
      solution for each project.
    </p>
  </div>
</Card>
